<div class="navbar-collapse navbar-ex6-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="#!/home">Ejercicio 1</a></li>
    <li class="active" ><a href="#!/ejercicio2">Ejercicio 2<i class="fa fa-book" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
    <li><a href="#!/ejercicio4">Ejercicio 4 <i class="fa fa-user" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
    <li><a href="#!/ejercicio5">Ejercicio 5<i class="fa fa-users" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
  </ul>
</div>

<div class="nopadding col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="container-fluid"> 
    <div class="row">

      <div class="col-xs-12">
        <div class="col-xs-4">
          <button class="btn btn-primary " ng-click="verRealidad()">Realidad Aumentada</button>
        </div>

        <div class="col-xs-4">
          <input type="checkbox" ng-click="verRedes()">Redes de datos</input>
        </div>

        <div class="col-xs-4">
          <a ng-mouseover="verRobot()">Robótica</a>
        </div>
      </div>
    
    </div>
    <div class="row">
      <div ng-hide="realidad">
        <img src="imagenes/realidadaumentada.jpg">
      </div>
    </div>
    <div class="row">
      <div ng-hide="redes">
        <img src="imagenes/redes.jpg">
      </div>
    </div>
    <div class="row">
      <div ng-hide="robot">
        <img src="imagenes/robotica.jpg">
      </div>
    </div>
  </div>
</div>